.phrases-container {
    background-color: var(--accent-bg-color);
    color: whitesmoke;
    padding: 30px 20px;
}

.top-heading {
    font-size: 2rem;
    font-weight: 900;
    text-align: center;
    color: black;
}

.catch-phrases {
    font-size: 1.4rem;
    padding: 10px;
}
