:root {
  --accent-color: rgb(52, 84, 122);
  --accent-bg-color: rgba(52, 84, 122, 0.8);
  --second-bg-color: #eeeff1;
  --text-color: #302e3c;
  --heading-color: #0747a6;

  font-size: 14px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  scroll-behavior: smooth;
}

body{
  max-width: 1400px;
  margin: 0 auto;
}