.biography {
    background-color: var(--second-bg-color);
    color: var(--text-color);
    padding: 60px 10px;
}

.empty{
    height: 60px;
}

.bio-row {
    display: flex;
}

.picture-text {
    width: 50%;
}

.img-author {
    width: 100%;
    height: 30rem;
    object-fit: cover;
    object-position: center;
}

.bg-heading {
    font-size: 2.5rem;
    font-weight: 600;
    padding-bottom: 7px;
    padding-left: 5px;
}

.bg-info {
    font-size: 1rem;
    font-weight: 400;
    padding: 10px;
}

@media screen and (min-width: 1400px) {
    .img-wrapper {
        width: 70%;
    }

    .biography {
        padding: 70px 0;
    }
}

@media screen and (max-width: 992px) {
    .bio-row {
        flex-wrap: wrap;
    }

    .picture-text {
        width: 100%;
    }
}
