.footer-container {
    background-color: var(--second-bg-color);
    padding: 20px;
}

.contact-heading {
    text-align: center;
    font-size: 2rem;
    font-weight: 800;
    color: var(--heading-color);
}

.contacts-list {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    padding: 16px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow-x: auto;
}

.contacts-list::-webkit-scrollbar {
    display: none;
}

.contact-item {
    font-size: 1.3rem;
    color: var(--text-color);
    padding: 5px;
}

.link-contact:hover,
.link-contact:focus {
    color: var(--accent-color);
}

.contact-item + .contact-item {
    margin-left: 12px;
}
